
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.input-row._radius{
    left: 390px !important;
    top: 0 !important;
    width: 120px;
}

.input-row._duration{
    left: 525px !important;
    top: 0 !important;
    width: 120px;
}

.input-row._location{
    left: 135px !important;
    top: 0 !important;
    width: 240px;
}

.input-row{
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #48afa1;
}

.input-row.gasoline-consumption{
    left: 280px !important;
    top: 40px !important;
}

.input-row.speed{
    left: 630px !important;
    top: 40px !important;
}

.input-row.gasoline-price{
    left: 455px !important;
    top: 40px !important;
}

.input-row:active,
.input-row:focus{
    box-shadow: 0 0 7px 1px #48afa1;
}

.button-simple{
    top: 10px !important;
    height: 30px;
    background-color: #48afa1;
    border: 1px solid #418678;
    border-radius: 4px;
    color: white;
}

.button-simple.search{
    left: 680px !important;
}

.button-simple.lucky{
    left: 750px !important;
    width: 70px;
}

.button-simple.search-next{
    left: 727px !important;
    width: 145px;
}

.select-simple{
    height: 30px;
    border: 1px solid #48afa1;
    border-radius: 4px;
}

.select-simple._place-type{
    top: 40px !important;
    left: 135px !important;
}

.controls {
    background-color: #fff;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 300;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.controls:focus {
    border-color: #4d90fe;
}
.title {
    font-weight: bold;
}

.button-simple {
    left: 600px;
    top: 10px;
}

#pagination-container ul{
    height: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    position: relative;
}

li:hover {
    background: #eee;
    cursor: pointer;
}
#map{
    height: 100%;
    width: calc(80% - 310px);
    display: inline-block;
}

#data-container {
     display: inline-block;
     width: 20%;
    min-height: 600px;
     vertical-align: top;
     float: left;
 }

#data-container ul{
    height: calc(100% - 30px);
    overflow: auto;
 }

#pagination-container {
    display: block;
    vertical-align: top;
    width: 20%;
    height: 0;
}

.paginationjs-prev, .paginationjs-page, .paginationjs-next {
    display: inline-block;
    margin: 10px;
}

#data-container img{
    width: 20px;
    display: inline-block;
}

#data-container p{
    margin: 0 0 0 36px;
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#data-container h3{
    display: inline-block;
    font: bold 16px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0 0 0 15px;
    max-width: calc(100% - 50px);
}

#data-container li{
    padding: 5px 10px;
}

#infowindow-content{
    display: none;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

iframe{
    height: 430px !important;
}