<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rest Place Searcher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.min.css}" href="../../perfect-scrollbar/perfect-scrollbar.min.css"/>
    <script type="text/javascript" th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.3.min.js}"></script>
</head>
<body>
<!--<div id="listPlaces">
    <ul>

    </ul>
</div>-->
<div class="controls">
</div>

<div id="data-container"></div>
<div class="sort-buttons__container">
    <button id="sortByDistance" class="button-simple search" type="submit">Top Distance</button>
    <button id="sortByDistanceUI" class="button-simple search" type="submit">Top Distance UI</button>
</div>
<div id="pagination-container"></div>
<input id="pac-input" class="controls input-row _location" type="text" placeholder="Enter a location"/>
<input id="radius" class="controls input-row _radius" type="text" placeholder="Enter a radius(m)"/>
<input id="duration" class="controls input-row _duration" type="text" placeholder="Enter a duration(h)"/>
<select id="type" class="controls select-simple _place-type">
    <!--<option selected="selected" value="">All</option>-->
    <option value="amusement_park">Amusement Park</option>
    <option value="art_gallery">Art Gallery</option>
    <option value="beauty_salon">Beauty Salon</option>
    <option selected="selected" value="cafe">Cafe</option>
    <option value="casino">Casino</option>
    <option value="movie_theater">Movie Theater</option>
    <option value="museum">Museum</option>
    <option value="night_club">Night Club</option>
    <option value="restaurant">Restaurant</option>
    <option value="spa">Spa</option>
    <option value="zoo">Zoo</option>
</select>
<button id="search" class="button-simple search" type="submit">Search</button>
<!--<button id="searchNext" type="submit" class="button-simple search-next">Search next 20 places</button>-->
<div id="map"></div>
<div id="infowindow-content">
    <span id="place-name" class="title"></span><br/>
    Place ID <span id="place-id"></span><br/>
    <span id="place-address"></span>
</div>
<script>
    (function ($) {
        $('ul').perfectScrollbar();
    })(jQuery);
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let map;
    let markers;
    let autocomplete;
    let place;
    let initLat;
    let initLng;
    let nextPageToken;
    let allPlaces;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 53.200, lng: 50.150},
            zoom: 13
        });
        var inputLocation = document.getElementById('pac-input');
        var searchButton = document.getElementById('search');
//        var searchNextPlacesButton = document.getElementById('searchNext');
        var inputRadius = document.getElementById('radius');
        var inputDuration = document.getElementById('duration');
        var selectType = document.getElementById('type');
        var sortByDistanceButton = document.getElementById('sortByDistance');
        var sortByDistanceButtonUI = document.getElementById('sortByDistanceUI');

        autocomplete = new google.maps.places.Autocomplete(inputLocation);
        autocomplete.bindTo('bounds', map);

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(inputLocation);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(inputRadius);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(inputDuration);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(selectType);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(searchButton);
//        map.controls[google.maps.ControlPosition.TOP_LEFT].push(searchNextPlacesButton);

        autocomplete.addListener('place_changed', function () {
            place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            initLat = place.geometry.location.lat;
            initLng = place.geometry.location.lng;
            console.log(initLat())
        });
        searchButton.addEventListener("click", fetchFunction);
        sortByDistanceButton.addEventListener("click", fetchsortFunction);
        sortByDistanceButtonUI.addEventListener("click", sortUI);
//        searchNextPlacesButton.addEventListener("click", fetchNextFunction);

        function fetchFunction(evt) {
            evt.preventDefault();
            fetch(`/api/places/find?lat=${initLat()}&lng=${initLng()}&radius=${inputRadius.value}&duration=${inputDuration.value}&type=${selectType.value}`)
                .then(function (response) {
                    return response.json();
                }).then(plotMarkers);
        }

        function fetchsortFunction(evt) {
            evt.preventDefault();
            fetch(`/api/places/sortByDistance?lat=${initLat()}&lng=${initLng()}&radius=${inputRadius.value}&duration=${inputDuration.value}&type=${selectType.value}`)
                .then(function (response) {
                    return response.json();
                }).then(plotMarkers);
        }

        function sortUI(){
            allPlaces.sort(function (a, b) {
                return a.distanceInMeters - b.distanceInMeters;
            });
            var sortedPlaces = allPlaces;
            $('#pagination-container').pagination({
                dataSource: sortedPlaces,
                pageSize: 20,
                callback: function(data, pagination) {
                    var html = simpleTemplating(data);
                    $('#data-container').html(html);
                }
            })
        }
//        function fetchNextFunction(evt) {
//            evt.preventDefault();
//            fetch(`/api/places/findNext?nextPageToken=${nextPageToken}`)
//                .then(function (response) {
//                    $("#listPlaces ul li").remove();
//                    return response.json();
//                }).then(plotMarkers);
//        }
        function plotMarkers(places) {

            allPlaces = places;
//            if(markers) {
//                for (var i = 0; i < markers.length; i++) {
//                    markers[i].setMap(null);
//                }
//            }
//
//            markers = [];
//            bounds = new google.maps.LatLngBounds();

//            nextPageToken = places.nextPageToken;
//            console.log(nextPageToken);

//            places.results.forEach(function (p) {
            //create text windows for marker
//                var contentString = `Name: ${p.name}<br>
//                Found at Location: ${p.geometry.location.lat}, ${p.geometry.location.lng}
//                `;
//                var position = new google.maps.LatLng(p.geometry.location.lat, p.geometry.location.lng);
//                var infoWindow = new google.maps.InfoWindow({
//                    content: contentString
//                });
//
//                var marker = new google.maps.Marker({
//                    position: position,
//                    map: map,
//                    infoWindow: infoWindow
//                });
//                marker.addListener("mouseover", () => {
//                    infoWindow.open(map, marker);
//                });
//                marker.addListener("mouseout", () => {
//                    infoWindow.close(map, marker);
//                });
//                markers.push(
//                    marker
//                );
//                bounds.extend(position);
//                map.fitBounds(bounds);
//                $("#listPlaces ul").append(
//                    $('<li>').append(
//                        $('<img>').attr('src', p.icon.toString())
//                    ).append(
//                        $('<h3>').append(p.name)
//                    ).append(
//                        $('<p>').append(p.vicinity)
//                    )
//                );
//            })


            $('#pagination-container').pagination({
                dataSource: places,
                pageSize: 20,
                callback: function(data, pagination) {
                    var html = simpleTemplating(data);
                    $('#data-container').html(html);
                }
            })
        }

        function simpleTemplating(data) {
            if(markers) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
            }

            markers = [];
            bounds = new google.maps.LatLngBounds();

            var html = '<ul>';
            $.each(data, function (index, p) {
                html += '<li>';
                html += '<img src="' + p.icon.toString() + '" />';
                html += '<h3>' + p.name + '</h3>';
                html += '<p>' + p.address + '</p>';
                html += '<p> Cost: ' + p.price + '</p>';
                html += '<p> Distance(m): ' + p.distanceInMeters + '</p>';
                html += '<p> Duration(s): ' + p.durationInSeconds + '</p>';
                html += '</li>';
                var contentString = `Name: ${p.name}<br>
                Found at Location: ${p.lat}, ${p.lng}
                `;
                var position = new google.maps.LatLng(p.lat, p.lng);
                var infoWindow = new google.maps.InfoWindow({
                    content: contentString
                });
                console.log(index)
                console.log(position.lat());
                console.log(position.lng());

                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    infoWindow: infoWindow
                });
                marker.addListener("mouseover", () => {
                    infoWindow.open(map, marker);
                });
                marker.addListener("mouseout", () => {
                    infoWindow.close(map, marker);
                });
                markers.push(
                    marker
                );
                bounds.extend(position);
                map.fitBounds(bounds);
            });
            html += '</ul>';
            return html;
        }
    }

    /*]]>*/
</script>
<script async="async" defer="defer"
        th:src="|https://maps.googleapis.com/maps/api/js?key=AIzaSyBcxdBvCWJNpPp7eghSmVLxweeiYcF23MQ&amp;libraries=places&amp;callback=initMap|">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://pagination.js.org/dist/2.1.0/pagination.js"></script>
</body>
</html>